#question-title {
  margin-bottom: 26px;
  margin-top: 10px;
}

#question-options {
  display: flex;
  flex-direction: column;
  margin: -10px; // Offset margin from question-answer
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.question-answer {
  margin: 8px;
  padding: 12px;
  background: none;
  border: 2px solid $primary;
  color: $primary;
  transition: all 0.2s ease-in-out 0s;
  @include tablet {
    width: calc(50% - 16px);
  }
}

.image-answer {
  margin: 8px 0;
  border: solid 2px $primary;
  width: 100%;
  object-fit: contain;
  @include tablet {
    margin: 8px;
    width: calc(50% - 20px);
    height: 300px;
  }
}

//.question-answer:hover, .question-answer:focus, .question-answer:active {
//  background: none $primary;
//  color: white;
//  outline: none;
//}