#gamepage {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    ".  .  ."
    ". box ."
    ".  .  ."
;
  min-height: 100%;
  background-color: $dark-gray;
}

#question-box, #score-box, #lobby-box {
  grid-area: box;
  background-color: $off-white;
  color: black;
  animation: fade-in 0.6s ease-in-out 0s;
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#question-box, #lobby-box {
  max-width: 600px;
  padding: 30px 40px;
}

#score-box {
  max-width: 650px;
}

#question-left {
  margin-top: 24px;
}

#question-left-count {
  color: $primary-dark;
  font-weight: bold;
}


.score {
  &-display {
    background-color: white;
    padding: 20px 30px;
    padding-bottom: 16px;
    text-align: center;
    grid-area: box;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    span {
      font-size: 1.4rem;
      letter-spacing: -1px;
    }
  }

  &-lobby {
    &-header {
      color: $primary;
    }

    &-text {
      margin-top: 2px;
    }
  }

  &-end {
    &-header {
      font-size: 2.1rem;
      color: $primary;
    }

    &-sub {
      font-size: 1.2rem;
      line-height: 10px;
      padding-bottom: 6px;
    }

    &-hint {
      font-size: 0.8rem;
      padding-top: 14px;
    }

    &-button {
      border: none;
      background-color: $primary;
      margin-top: 10px;
      padding: 12px 22px;
      color: white;
      transition: all 0.3s ease-in-out 0s;
      &:hover {
        background-color: $primary-dark;
      }
    }
  }
}

@keyframes fade-in {
  from {opacity: 0; top: -140px;}
  to {opacity: 1; top: 0;}
}

@import '../components/gamepage/Question';
@import '../components/gamepage/EndList';
