#gamepage {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    ".  .  ."
    ". box ."
    ".  .  ."
;
  min-height: 100%;
  background-color: $dark-gray;
}

.score-end-header {
  font-size: 2.1rem;
  color: $primary;
}

.score-end-sub {
  font-size: 1.2rem;
  line-height: 10px;
  padding-bottom: 6px;
}

.score-end-hint {
  font-size: 0.8rem;
  padding-top: 14px;
}

#question-box {
  grid-area: box;
  max-width: 600px;
  padding: 30px 40px;
  background-color: $off-white;
  color: black;
  animation: fade-in 0.6s ease-in-out 0s;
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#score-box {
  grid-area: box;
  max-width: 650px;
}

#question-left {
  margin-top: 24px;
}

#question-left-count {
  color: $primary-dark;
  font-weight: bold;
}

.score-display {
  background-color: white;
  padding: 20px 30px;
  padding-bottom: 16px;
  text-align: center;
  grid-area: box;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  span {
    font-size: 1.4rem;
    letter-spacing: -1px;
  }
}

@keyframes fade-in {
  from {opacity: 0; top: -140px;}
  to {opacity: 1; top: 0;}
}

@import '../components/gamepage/Question';
@import '../components/gamepage/EndList';
