#login {
  grid-template:  "h h h" ". l ." "f f f";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 2fr;
}

#login-page-title {
  grid-area: h;
  margin: 20px 0 40px 0;
  text-align: center;
  @include tablet {
    margin: 40px 0 0 0;
  }
}

#login-form {
  grid-area: l;
}

@import "../components/LoginForm";