@import "mixins";
@import "colors";
@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Roboto');

html, body, #root, .page {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 1px; // to make min height actually work
  min-height: 100%;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  @include tablet {
    display: grid;
  }
}

.sr-only {
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  overflow:hidden;
  clip:rect(0,0,0,0);
  white-space:nowrap;
  -webkit-clip-path:inset(50%);
  clip-path:inset(50%);
  border:0
}

@import "pages/404";
@import "pages/Login";
